<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{5}: %m%n</pattern>
        </encoder>
    </appender>

    TRACE, DEBUG, INFO, WARN, ERROR
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>